--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
python-multipart
opencv-python-headless
numpy
httpx
pydantic
python-dotenv
torch==2.5.1+cpu
torchvision==0.20.1+cpu
Pillow
# MobileSAM for low memory (40MB)
git+https://github.com/ChaoningZhang/MobileSAM.git
