--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
python-multipart
opencv-python-headless
numpy
httpx
pydantic
google-cloud-aiplatform
python-dotenv
torch
torchvision
Pillow
timm
# MobileSAM for low memory (40MB)
git+https://github.com/ChaoningZhang/MobileSAM.git
